.LeaderboardView {
    /* background-color: aqua; */
    margin-top: 30px;
}

.links {
    display: flex;
    justify-content: center;
}

button {
    text-decoration: none;
    /* background-color: #fdcb58; */
    width: 160px;
    color: #222222;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 0.3rem;
    border: solid black;
    font-size: 16pt;
}

.shareLink {
    background-color: #fdcb58;
}

.clickedShare {
    background-color: #ffc02c;
    border-color: #ffffff;
    color: #ffffff
}
